name: Build color container

on:
  push:
    branches: 
      - master
    paths:
      - 'color.txt'
  workflow_dispatch:
    
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      # Recommended to use GitHub secrets for sensitive information
      OCTOPUS_URL: ${{ vars.OCTOPUS_SERVER_URL }}
      OCTOPUS_API_KEY: ${{ secrets.OCTOPUS_API_KEY }}
      OCTOPUS_SPACE: "Aperture Science"

    steps:
    - uses: actions/checkout@v4

    - name: extract color from commit message
      run: |
        COLOR=$(cat color.txt)
        echo "COLOR=$COLOR" >> $GITHUB_ENV
    - name: Set Version
      run: echo "PACKAGE_VERSION=$(date +'%Y.%m.%d').$GITHUB_RUN_NUMBER" >> $GITHUB_ENV

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: 'aperturesci'
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build the Docker image
      run: >
        docker buildx build --platform 'linux/amd64,linux/arm64' \
          --build-arg COLOR=${{ env.COLOR }} \
          --build-arg LATENCY=0 \
          --build-arg ERROR_RATE=0 \
          --tag aperturesci/rollouts-demo:${{ env.PACKAGE_VERSION }} \
          --push .

    - name: Push build information to Octopus Deploy
      uses: OctopusDeploy/push-build-information-action@v4
      with:
        packages: |
          docker.io/aperturesci/rollouts-demo
        version: ${{ env.PACKAGE_VERSION }} 
  
    - name: Create Octopus Deploy Release
      uses: OctopusDeploy/create-release-action@v4
      with:
        project: 'color'
        release_number: ${{ env.PACKAGE_VERSION }}
        packages:
          docker.io/aperturesci/rollouts-demo:${{ env.PACKAGE_VERSION }}

    - name: Deploy the release
      uses: OctopusDeploy/deploy-release-action@v4
      with: 
        project: 'color'
        release_number: ${{ env.PACKAGE_VERSION }}
        environments: |
          Development
        