name: Update color

on:
  schedule:
    # run every 4 hours (on 13 min)
    - cron: '13 0/3 1/1 * *'
  workflow_dispatch:

    permissions:
      contents: write 
      
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Read last color used
        run: |
          all_colors=(blue green yellow purple red orange)
          colors=()
          # Get last color
          last_color=$(cat color.txt)
          echo "Last color was $last_color"
          # removing last color used
          for value in "${all_colors[@]}"
          do
            if [[ $value != ${last_color} ]]
            then
              colors+=("$value")
            fi
          done
          echo "New color array is ${colors[*]}"
          index=$((1 + $RANDOM % 4))
          export COLOR=${colors[$index]}
          echo "COLOR=$COLOR" >> $GITHUB_ENV
          echo "New index is $index"
          echo "New color is $COLOR"
          echo $COLOR > "color.txt"

      - name: Commit and push new color
        run: |
          git config --global user.email 'laurent.rochette@octopus.com'
          git config --global user.name 'lrochette' 
          git add color.txt
          git commit -m "Updating color to ${{ env.COLOR }}" || echo "No changes to commit"
          git push origin HEAD:master
