name: Build color container

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:
    
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      # Recommended to use GitHub secrets for sensitive information
      OCTOPUS_URL: ${{ vars.OCTOPUS_SERVER_URL }}
      OCTOPUS_API_KEY: ${{ secrets.OCTOPUS_API_KEY }}
      OCTOPUS_SPACE: 'aperture' # Or specify a Space name/ID

    steps:
    - uses: actions/checkout@v4

    - name: extract color from commit message
      run: |
        COLOR=$(cat color.txt)
        echo "COLOR=$COLOR" >> $GITHUB_ENV
    - name: Set Version
      run: echo "PACKAGE_VERSION=$(date +'%Y.%m.%d').$GITHUB_RUN_NUMBER" >> $GITHUB_ENV


    - name: Build the Docker image
      run: docker buildx build . --platform 'linux/amd64,linux/arm64' \
          --build-arg COLOR=${{ env.COLOR }} \
          --build-arg LATENCY=0 \
          --build-arg ERROR_RATE=0 \
          --tag aperturesci/rollouts-demo:${{ env.PACKAGE_VERSION }}

    - name: Push build information to Octopus Deploy
        uses: OctopusDeploy/push-build-information-action@v4
        with:
          project: color
          packages: |
            docker.io/aperturesci/rollouts-demo
          # The version of the package(s)
          version: ${{ env.PACKAGE_VERSION }} 
          # Optional: Override the branch name if needed
          branch: ${{ github.ref }}
    


